        <div class="box">
            <div class="cell">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody><tr>
                        <td width="10"></td>
                        <td width="auto" valign="top" align="left">
                            <div class="fr"></div>
                            <div class="sep5"></div>
                            <span class="fade"> </span>
                            <div class="sep10"></div>
                        </td>
                    </tr>
                </tbody></table>
                <div class="sep5"></div>
            </div>
            
            <div class="cell">
                <div class="sep5"></div>
            </div>
            
            <div class="inner">
            </div>
            
        </div>
        
        <div class="sep20"></div>
        <div class="box">
            <div class="cell"><div class="fr fade"><a href="#_top" class="dark"><strong>↑</strong> Top</a></div>
            <span class="fade">Add a Reply Now</span>
            </div>
            <div class="inner">
                {% include JB/comments %}
            </div>
            <div class="inner"><div class="fr" style="font-size: 12px; margin-left: 20px;"><a href="/">← Home</a></div>➥ Please avoid posting pointless replies, it's always great to save everyone's precious time.</div>
        </div>
