        <div class="box">
            <div class="cell">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody><tr>
                        <td width="10"></td>
                        <td width="auto" valign="top" align="left">
                            <div class="fr"></div>
                            <div class="sep5"></div>
                            <span class="fade"> </span>
                            <div class="sep10"></div>
                        </td>
                    </tr>
                </tbody></table>
                <div class="sep5"></div>
            </div>
            
            <div class="cell">

              <pre>
有一只小攻城狮，他的梦想是攻占一座大城市。
他努力锻炼自己，在家乡已经没有了对手，于是他离开家长，去寻找大城市。

大城市城门禁闭，然而小攻城狮却在附近找到了一个小洞。
好奇的小攻城狮蜷缩着自己，钻进了小洞，进入了大城市。
出乎意料的，大城市里住着无数的大攻城狮。
出乎意料的，大家对小攻城狮从小洞的出现似乎习以为常。

于是小攻城狮向大攻城狮们学习技艺，听从老攻城狮的教诲，模仿大攻城狮的姿势。
于是小攻城狮逐渐学会了如何在大城市优雅地生活。

大攻城狮们流行将自己的鬃毛剃掉，因为这样很敏捷，很高效，很亲切。
小攻城狮也和大攻城狮们一样，剃去了自己的鬃毛，据说这样更敏捷，更高效，也更亲切。

剔去了鬃毛的小攻城狮觉得自己也成为大攻城狮了，他走上城门，向外眺望。
门外走过一只刚从家乡离开的小攻城狮，他抬头眺望，看到了城门上的小，哦不，大攻城狮。

他们两对望着：

“他看起来，好像一只狗唉～”
</pre>

                <div class="sep5"></div>
            </div>
            
            <div class="inner">
            </div>
            
        </div>
        
        <div class="sep20"></div>
        <div class="box">
            <div class="cell"><div class="fr fade"><a href="#_top" class="dark"><strong>↑</strong> Top</a></div>
            <span class="fade">Add a Reply Now</span>
            </div>
            <div class="inner">
                {% include JB/comments %}
            </div>
            <div class="inner"><div class="fr" style="font-size: 12px; margin-left: 20px;"><a href="/">← Home</a></div>➥ Please avoid posting pointless replies, it's always great to save everyone's precious time.</div>
        </div>
